["src/contract.cuemod"]
type = "git-repo"
url = "https://github.com/fatb4f/contract.cuemod.git"
clone.args = ["--depth=1"]
pull.args = ["--ff-only"]

["src/git-katas-progit"]
type = "git-repo"
url = "https://github.com/fatb4f/git-katas-progit"
pull.args = ["--ff-only"]
