[Unit]
Description=Start Tomat Work Once Per Graphical Session
After=tomat.service
Wants=tomat.service
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/_404/.local/bin/session auto-start
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
