[Unit]
Description=Pomodoro cycle bootstrap
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/pomodoroctl start
ExecStop=%h/.local/bin/pomodoroctl stop
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
