[Unit]
Description=Pomodoro work interval complete
Documentation=man:systemd.service(5)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/pomodoroctl finish-work
