[Unit]
Description=Session lock
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=%h/.local/bin/cli.session locker
