[Unit]
Description=Stasis Wayland idle manager
Documentation=man:stasis(1) man:stasis(5)
PartOf=wayland-session@niri.desktop.target
After=wayland-session@niri.desktop.target
Requisite=wayland-session@niri.desktop.target
ConditionPathExists=%t

[Service]
Type=simple
ExecStart=/usr/bin/stasis --config %h/.config/stasis/stasis.rune
ExecReload=/usr/bin/stasis reload
Restart=on-failure
RestartSec=2

[Install]
WantedBy=wayland-session@niri.desktop.target
