input {
    keyboard {
        xkb {
            layout "us"
        }

        repeat-delay 600
        repeat-rate 25
    }

    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        scroll-method "two-finger"
        click-method "clickfinger"
    }

    // Make Mod deterministic on the Chromebook keyboard.
    mod-key "Alt"
    mod-key-nested "Super"
}

layout {
    gaps 8

    focus-ring {
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }
}

prefer-no-csd

binds {
    Mod+Return { spawn "kitty"; }
    Mod+Shift+Q { close-window; }
    Mod+Shift+E { quit skip-confirmation=true; }
    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }
    Mod+M { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }
    // Core Noctalia binds.
    Mod+Space { spawn "noctalia-ipc" "launcher" "toggle"; }
    Mod+S { spawn "noctalia-ipc" "controlCenter" "toggle"; }
    Mod+Comma { spawn "noctalia-ipc" "settings" "toggle"; }
    Mod+L allow-inhibiting=false { spawn "session-lock"; }
}
