workspace "browser" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-display "normal"
        default-column-width { proportion 1.0; }
    }
}

workspace "terminal" {
    open-on-output "HDMI-A-1"
    layout {
        default-column-display "normal"
        default-column-width { proportion 1.0; }
  }
}

window-rule {
    match app-id=r#"^chromium$"#
    open-on-workspace "browser"
}

window-rule {
    match app-id=r#"^kitty$"#
    open-on-workspace "terminal"
}
